.composition {
  position: relative;

  &_photo {
    box-shadow: $box-shadow-standaard-pic;
    border-radius: .2rem;
    width: 60%;
    object-fit: cover;
    position: absolute;
    z-index: 10;
    transition: all .4s;
    outline-offset: 2rem;

    &--p1 {
      left: 5rem;
      top: -2rem;
    }

    &--p2 {
      left: 30rem;
      top: 5rem;
    }

    &--p3 {
      left: 15rem;
      top: 15rem;
    }

    &--p10 {
      top: 15rem;
      height: 30rem;
      width: 80rem;
    }

    &--p11 {
      top: 10rem;
      height: auto;
      width: 80rem;
    }

    &--p12 {
      top: 10rem;
      height: auto;
      width: 70rem;
    }
    &:hover {
      outline: 1.5rem solid $color-primary;
      transform: scale(1.3) translateY(1rem);
      box-shadow: 0 2.5rem 4rem rgba($color-primary-black, .6);
      z-index: 20;

    }
  }

  //selecteert niet de hover foto
  &:hover &_photo:not(:hover) {
    transform: scale(.8);
  }
}

