//colors
$color-primary: rgb(255, 153, 0);
$color-primary-one: #eb8484bf;
$color-primary-two: #18498abf;
$color-primary-gray: #777;
$color-primary-white: #fff;
$color-primary-white-light: #f7f7f7;
$color-primary-black: #000000;
$color-primary-footer: #333;
//shadow
$box-shadow-standaard-pic:0 1.5rem 4rem rgba($color-primary-black, .4);
//font
$default-font-size: 1.6rem;
$standart-animatie-heading-primary-sub: -1rem;

//grid
$grid-width:114rem;
$gutter-verical:8rem;
$gutter-horizontal: 6rem;

//margin
$margin-bottom-standaard: 8rem;